<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="ZooDB" connectionString="Server=sofadb.mysql.database.azure.com;database=kbh_zoo;uid=sde;pwd=ET2Kc},%)8t:5>jh;"/>
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=sofastorage;AccountKey=cB4U5CzU4dzfVU9WzNtaY5swUJ+7TZNX9TB2qEbPzQPOxJVyScp5mQjthXBc8O9yiBv3b2kv72Wz2ZEkg5Btnw==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>